MQTT_BROKER_URL=mqtt://127.0.0.1:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=backend_mqtt_worker_01
MQTT_SUBSCRIBE_TELEMETRY=devices/+/telemetry
MQTT_SUBSCRIBE_DEVICE_ACK=devices/+/ack
MQTT_SUBSCRIBE_DEVICE_RELAY_STATUS=devices/+/relay/status
MQTT_SUBSCRIBE_DEVICE_CONNECTIVITY_STATUS=devices/+/status
MQTT_SUBSCRIBE_DASHBOARD_COMMAND=dashboard/devices/+/command
MQTT_TOPIC_DEVICE_COMMAND_TEMPLATE=devices/{device_id}/command
MQTT_TOPIC_DASHBOARD_STATUS_TEMPLATE=dashboard/devices/{device_id}/status

INFLUX_URL=http://127.0.0.1:8086
INFLUX_TOKEN=replace_me
INFLUX_ORG=your_org
INFLUX_BUCKET=telemetry
INFLUX_MEASUREMENT=power_telemetry
INFLUX_MEASUREMENT_ENCRYPTED=power_telemetry_encrypted

ASCON_KEYRING_JSON={"1":"00112233445566778899aabbccddeeff"}
ASCON_ACTIVE_KID=1
ASCON_COMMAND_NONCE_PREFIX_HEX=0000000000000001
